*{
    margin: 0;
    padding: 0;
    background-color :rgb(29, 4, 41);
}
nav{
 border: 1px solid rgb(35, 12, 82);  
}
.list{
    margin-top: 30px;
    display: flex;
    margin-left: 75%;
    gap: 20px;

}
.signup{
    display: flex;
    margin-left: 85%;

}
li{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 30px;
}
.card{
    background-color: black;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s case,box-shadow 0.3s ease
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card h3{
    margin: 15px 10px 5px;
}
.card p{
    margin: 5px 15px 20px;
    color: #666;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
